@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  min-height: 100vh;
}

.my-pupil {
  padding: 21px 31px 29px 30px;
  margin: 20px 30px 21px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
          box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: #FFFFFF;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}
.my-pupil__label {
  margin: 0px 0px 19px 0px;
  font-weight: 800;
  font-size: 29px;
  line-height: 40px;
}
.my-pupil__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 5px 0px;
}
.my-pupil__pupils {
  margin: 0px 20px 0px 0px;
  color: #235390;
}
.my-pupil__groups {
  color: #C200AF;
}
.my-pupil__groups:active + .my-pupil__line-pupils {
  display: none;
}
.my-pupil__line {
  width: 100%;
  background-color: #F6F6F6;
  border-bottom: 0px solid #F7F7F7;
  margin: 0px 0px 20px 0px;
}
.my-pupil__line-pupils {
  width: 61px;
  border-bottom: 2px solid #235390;
  margin: -2px 0px 0px 1px;
}
.my-pupil__line-groups {
  width: 55px;
  border-bottom: 2px solid #C200AF;
  margin: -2px 0px 0px 83px;
  display: none;
}
.my-pupil__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.my-pupil__bottom-left__add-pupil {
  width: 184px;
  height: 43px;
  border: 2px solid #235390;
  border-radius: 10px;
  color: #235390;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 14px 0px;
}
.my-pupil__bottom-left__add-pupil-circle {
  width: 25px;
  height: 25px;
  background: #235390;
  border-radius: 50%;
  margin: 0px 5px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-pupil__bottom-left__add-pupil-plus {
  background-image: url(../img/...);
}
.my-pupil__bottom-left__add-group {
  width: 184px;
  height: 43px;
  border: 2px solid #C200AF;
  border-radius: 10px;
  color: #C200AF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-pupil__bottom-left__add-group-circle {
  width: 25px;
  height: 25px;
  background: #C200AF;
  border-radius: 50%;
  margin: 0px 5px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-pupil__bottom-left__add-group-plus {
  margin: 2px 0px 0px 0px;
  background-image: url(../img/...);
}
.my-pupil__bottom-right {
  margin: 0px 0px 0px 30px;
  width: 100%;
  height: 100px;
  border: 3px dashed #AEAEAE;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AEAEAE;
  font-size: 20px;
  font-weight: 700;
}
.my-pupil__bottom-right:focus {
  border: none;
}
.my-pupil__bottom-right__all-your-pupils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.my-pupil__bottom-right__add-your-first-pupil {
  margin: 0px 0px 0px 16.22px;
}

#b {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
}

#a {
  z-index: 3;
  position: absolute;
  left: 31.04%;
  right: 28.62%;
  top: 29.69%;
  bottom: 33.85%;
  display: none;
  background: #F5E6FE;
  border-radius: 15px;
}

a.pages {
  color: #FF2500;
  width: 22px;
  height: 22px;
  background: #FFB6AA;
}
a.pages:hover {
  color: #FFB6AA;
  background: #FF2500;
}